<form
    [formGroup]="loginForm"
    (submit)="submit()"
    class="form"
>
    <div class="form__input-group">
        <!-- <input
            type="text"
            placeholder="Email"
            formControlName="email"
            autocomplete="email"
            class="form__input"
        > -->
        <app-text-input formControlName="email"></app-text-input>
        <p
            class="form__hint"
            *ngIf="loginForm.controls['email'].errors && loginForm.controls['email'].dirty"
        >
            <span *ngIf="loginForm.controls['email'].errors['required']">
                Email can&rsquo;t be&nbsp;empty
            </span>
            <span *ngIf="loginForm.controls['email'].errors['email']">
                Not valid email
            </span>
        </p>
    </div>

    <div class="form__input-group">
        <input
            type="password"
            placeholder="Password"
            formControlName="password"
            autocomplete="off"
            class="form__input"
        >
        <p
            class="form__hint"
            *ngIf="loginForm.controls['password'].errors && loginForm.controls['password'].dirty"
        >
            <span *ngIf="loginForm.controls['password'].errors?.['required']">
               Password can&rsquo;t be&nbsp;empty
            </span>
            <span *ngIf="loginForm.controls['password'].errors['minlength']">
                Password can&rsquo;t be&nbsp;shorter then {{ loginForm.controls['password'].errors['minlength']['requiredLength'] }}
            </span>
            <span *ngIf="loginForm.controls['password'].errors['passwordStrength']">
                The password must contain uppercase, lowercase English letters and numbers.
                Other characters are not allowed
            </span>
        </p>
    </div>
    <div class="d-flex flex-jc-between">
        <button
            (click)="togglePassReset()"
            class="link mb-auto"
        >
            Forgot password
        </button>
        <button
            class="btn"
            type="submit"
            [disabled]="loginForm.invalid"
        >
            Log&nbsp;in
        </button>
    </div>
</form>
<app-popup
    [opened]="isOpen"
    (onClose)="togglePassReset()"
>
    <ng-template #content>
        <form
            *ngIf="!resetFormIsSended; else resetSuccess"
            [formGroup]="resetForm"
        >
            <div class="input-group">
                <label>
                    Your email:
                </label>
                <input
                    formControlName="resetEmail"
                    type="email"
                    placeholder="Email"
                >
            </div>
            <p *ngIf="resetForm.controls['resetEmail'].errors && resetForm.controls['resetEmail'].dirty">
                <span *ngIf="resetForm.controls['resetEmail'].errors?.['required']">
                    Email can&rsquo;t be&nbsp;empty
                </span>
                <span *ngIf="resetForm.controls['resetEmail'].errors?.['email']">
                    Not valid email
                </span>
            </p>
        </form>
        <ng-template #resetSuccess>
            <h3>We&nbsp;are send reset link&nbsp;on {{resetForm.controls['resetEmail'].value}}</h3>
        </ng-template>

        <p *ngIf="resetError">
            This email is&nbsp;not registered
        </p>
    </ng-template>
    <ng-template #controls>
        <button
            class="btn"
            type="button"
            (click)="submitReset()"
            [disabled]="resetFormIsSended"
        >
            Reset password
        </button>
        <button
            class="btn"
            type="button"
            (click)="togglePassReset()"
        >
            Close
        </button>
    </ng-template>
</app-popup>

<p *ngIf="error">{{ errorMessage }}</p>
