<div class="header">
    <h3 class="header__logo">
        <a [routerLink]="['/']">
            EveryDaySpace
        </a>
    </h3>

    <nav class="header__nav">
        <ul class="header__nav-list">
            <li class="header__nav-item">
                <app-dropdown
                    value="Select Day"
                    triggerClass="btn"
                >
                    <app-date-picker
                        (selectedDate)="getPictureByDate($event)"
                    ></app-date-picker>
                </app-dropdown>
            </li>
            <li
                class="header__nav-item"
                *ngIf="!authService.token; else logOutTemplate"
            >
                <a
                    class="btn"
                    [routerLink]="['login']"
                >
                    Log in
                </a>
            </li>
            <ng-template #logOutTemplate>
                <li class="header__nav-item">
                    <button
                        class="btn"
                        (click)="logOut()"
                    >
                        Log out
                    </button>
                </li>
            </ng-template>
            <li
                class="header__nav-item"
                *ngIf="!authService.token"
            >
                <a
                    class="btn"
                    [routerLink]="['signup']"
                >
                    Sign up
                </a>
            </li>
            <li
                class="header__nav-item"
                *ngIf="user"
            >
                <a
                    class="btn"
                    [routerLink]="['profile']"
                >
                    {{ user.displayName }}
                </a>
            </li>
        </ul>
    </nav>
</div>
