<a class="btn" routerLink="">
    Home
</a>
<div style="display: flex; width: 100%">
    <figure
        *ngIf="item && item.media_type === 'image'; else videoTemplate"
        style="width: 50%"
    >
        <a
            [href]="item.hdurl"
            target="_blank"
        >
            <img
                [src]="item.url"
                [alt]="item.explanation"
                style="width: 100%"
            >
        </a
       >
        <figcaption>
            <p *ngIf="item.copyright">
                Author: {{ item.copyright }}
            </p>
            <p *ngIf="item.explanation">
                {{ item.explanation }}
            </p>
        </figcaption>
    </figure>
    <ng-template #videoTemplate>
        <iframe
            width="100%"
            [src]="item.url | sanitizer"
            [title]="item.explanation"
            frameborder="0"
            allowfullscreen
        ></iframe>
        <p *ngIf="item.copyright">
            Author: {{ item.copyright }}
        </p>
        <p *ngIf="item.explanation">
            {{ item.explanation }}
        </p>
    </ng-template>
    <app-comments-list
        style="width: 50%"
        [comments]="comments"
        [picture]="item"
        (onPush)="getComments(item.date)"
    ></app-comments-list>
</div>
