<button
    class="btn"
    type="button"
    (click)="onPrevious()"
    [title]="'Day.PREVIOUS' | translate"
>
    ←
</button>
<a
    class="btn"
    routerLink=""
>
    {{ 'Day.HOME' | translate}}
</a>
<button
    class="btn"
    type="button"
    [disabled]="isLast"
    (click)="onNext()"
    [title]="'Day.NEXT' | translate"
>
    →
</button>
<div style="display: flex; width: 100%" *ngIf="item && !loading; else loadingTemplate">
    <figure
        *ngIf="item && item.media_type === 'image'; else videoTemplate"
        style="width: 70%"
    >
        <a
            [href]="item.hdurl"
            target="_blank"
        >
            <img
                [src]="item.url"
                [alt]="item.explanation"
                style="width: 100%"
                defaultImage="/assets/loader.png"
                [lazyLoad]="item.url"
            >
        </a
       >
        <figcaption>
            <a [href]="item.hdurl" download>
                <svg
                    app-shared-svg
                    class="icon icon--md"
                    icon="download"
                ></svg>
                Download image
            </a>
            <p *ngIf="item.copyright">
                Author: {{ item.copyright }}
            </p>
            <p *ngIf="item.explanation">
                {{ item.explanation }}
            </p>
        </figcaption>
    </figure>
    <ng-template #videoTemplate>
        <iframe
            width="100%"
            [src]="item.url | sanitizer"
            [title]="item.explanation"
            frameborder="0"
            allowfullscreen
        ></iframe>
        <p *ngIf="item.copyright">
            Author: {{ item.copyright }}
        </p>
        <p *ngIf="item.explanation">
            {{ item.explanation }}
        </p>
    </ng-template>
    <app-comments-list
        style="width: 30%"
        [comments]="comments"
        [picture]="item"
        (onChange)="getComments(item.date)"
        [commentsNames]="commentsNames"
    ></app-comments-list>
</div>
<ng-template #loadingTemplate>
    <p>...loading</p>
</ng-template>
