<app-dropdown
    [options]="months"
    (selectedOption)="getMonth($event)"
    [defaultSelectedOption]="month"
></app-dropdown>
<app-dropdown
    [options]="years"
    (selectedOption)="getYear($event)"
    [defaultSelectedOption]="yearIndex"
></app-dropdown>

<table>
    <thead>
        <tr>
            <td>Mon</td>
            <td>Tue</td>
            <td>Wed</td>
            <td>Thu</td>
            <td>Fri</td>
            <td>Sat</td>
            <td>Sun</td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let week of weeks">
            <td *ngFor="let day of week">
                <button
                    class="btn date-picker__day"
                    [ngClass]="{
                        'date-picker__day--selected' :
                        selectedDay$.getValue() === day.date.toString()
                    }"
                    *ngIf="day"
                    (click)="setDate(day.date)"
                    [disabled]="day.disabled"
                >
                    {{ day.date.getDate() }}
                </button>
            </td>
        </tr>
    </tbody>
</table>
