<!-- <ul>
    <li *ngFor="let month of months as Array"></li>
</ul> -->
<app-dropdown
    [options]="months"
    (selectedOption)="getMonth($event)"
    defaultSelectedOption=""
></app-dropdown>
<table>
    <thead>
        <tr>
            <td>Mon</td>
            <td>Tue</td>
            <td>Wed</td>
            <td>Thu</td>
            <td>Fri</td>
            <td>Sat</td>
            <td>Sun</td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let week of weeks">
            <td *ngFor="let day of week">
                <button
                    class="btn"
                    *ngIf="day"
                    (click)="setDate(day.date)"
                    [disabled]="day.disabled"
                >
                    {{ day.date.getDate() }}
                </button>
            </td>
        </tr>
    </tbody>
</table>
