<button
    class="drop__trigger"
    (click)="toggleDrop()"
    [ngClass]="triggerClass"
>
    {{ _selectedValue | async }}
</button>

<div
    @toggleDrop
    class="drop__list"
    *ngIf="listOpened"
    #dropList
>
    <ul *ngIf="options.length; else defaultContent">
        <li *ngFor="let option of options">
            <button (click)="setValue(option)">
                {{ option }}
            </button>
        </li>
    </ul>
    <ng-template #defaultContent>
        <ng-content></ng-content>
    </ng-template>
</div>
