<form (ngSubmit)="post()">
    <input type="text" [formControl]="commentInput">
    <button
        class="btn"
        [disabled]="!authService.token || commentInput.errors"
        type="submit"
    >
        comment
    </button>
</form>

<div class="comments-list">
    <ng-container *ngFor="let comment of comments">
        <app-comment
            [comment]="comment"
            [user]="user"
            (deleteHandler)="onDelete(comment)"
            (editHandler)="onEdit($event)"
        ></app-comment>
    </ng-container>
</div>
