<form (ngSubmit)="post()">
    <input type="text" [formControl]="commentInput">
    <button
        class="btn"
        [disabled]="!authService.user || commentInput.errors"
        type="submit"
    >
        {{ 'CommentList.COMMENT' | translate }}
    </button>
</form>

<div class="comments-list">
    <ng-container *ngFor="let comment of comments">
        <app-comment
            [comment]="comment"
            [user]="user"
            (deleteHandler)="onDelete(comment)"
            (editHandler)="onEdit($event)"
            (replyHandler)="onReply($event)"
        ></app-comment>
    </ng-container>
</div>
