<div class="d-flex">
    <input
        [type]="type"
        [placeholder]="placeholder"
        [class]="inputClass"
        [(ngModel)]="value"
        (ngModelChange)="changeHandler($event)"
        [disabled]="disabled"
    >
    <button
        *ngIf="passSwitch"
        type="button"
        class="btn"
        (click)="onPassSwitch()"
        [disabled]="!value"
    >
        <svg class="icon icon--md">
            <ng-container *ngIf="isPassVisible; else invisible">
                <use xlink:href="assets/sprite/sprite.svg#moon"></use>
            </ng-container>
            <ng-template #invisible>
                <use xlink:href="assets/sprite/sprite.svg#sun"></use>
            </ng-template>
        </svg>
    </button>
</div>
