<div class="d-flex">
    <input
        [type]="type"
        [placeholder]="placeholder"
        [class]="inputClass"
        [(ngModel)]="value"
        (ngModelChange)="changeHandler($event)"
        [disabled]="disabled"
    >
    <button
        *ngIf="passSwitch"
        type="button"
        class="btn"
        (click)="onPassSwitch()"
        [disabled]="!value"
    >
        <svg
            class="icon icon--md"
            app-shared-svg
            [icon]="isPassVisible ? 'moon' : 'sun'"
        ></svg>
    </button>
</div>
