<ng-container *ngIf="currentUser">
    <div class="input-group">
        <label>
            Email:
        </label>
        <div class="d-flex">
            <app-text-input
                [formControl]="email"
                [disabled]="email.disabled"
                [placeholder]="user?.email"
                type="email"
            ></app-text-input>
            <button
                *ngIf="email.disabled"
                class="btn"
                [title]="'Profile.EDIT' | translate"
                (click)="enableEmailInput()"
            >
                <svg
                    class="icon icon--sm"
                    app-shared-svg
                    icon="pen"
                ></svg>
            </button>
            <ng-container *ngIf="!email.disabled">
                <button
                    class="btn"
                    (click)="cancelEdit()"
                >
                    {{ 'Profile.CANCEL' | translate }}
                </button>
                <button
                    class="btn"
                    [disabled]="email.errors"
                    (click)="changeEmail()"
                >
                    {{ 'Profile.SAVE' | translate }}
                </button>
            </ng-container>
        </div>
    </div>
    <div class="input-group">
        <label>
            {{ 'Profile.PASSWORD' | translate }}
        </label>
        <div class="d-flex">
            <app-text-input
                [formControl]="pass"
                [disabled]="pass.disabled"
                placeholder="......"
                type="password"
                [passSwitch]="!pass.disabled"
            ></app-text-input>
            <button
                *ngIf="pass.disabled"
                class="btn"
                [title]="'Profile.EDIT' | translate"
                (click)="enablePassInput()"
            >
                <svg
                    class="icon icon--sm"
                    app-shared-svg
                    icon="pen"
                ></svg>
            </button>

            <ng-container *ngIf="!pass.disabled">
                <button
                    class="btn"
                    (click)="cancelEdit()"
                >
                    {{ 'Profile.CANCEL' | translate }}
                </button>
                <button
                    class="btn"
                    [disabled]="pass.errors"
                    (click)="changePass()"
                >
                    {{ 'Profile.SAVE' | translate }}
                </button>
            </ng-container>
        </div>
        <p *ngIf="nameExist">
            {{ nameExist }}
        </p>
    </div>

    <p *ngIf="error">
        {{ 'Profile.ERROR' | translate }}
    </p>

    <button
        class="btn mb-24"
        style="color: red;"
        type="button"
        (click)="switchPopup()"
    >
        {{ 'Profile.DELETE' | translate }}
    </button>
</ng-container>
<br>
<!-- <app-dropdown
    class="d-block mb-24"
    [options]="sortOptions"
    (selectedOption)="sort($event)"
></app-dropdown> -->

<ng-container *ngFor="let comment of comments; index as i;">
    <div class="d-flex mb-24">
        <a
            class="d-flex flex-column"
            [routerLink]="['/day/' + comment.pictureDate]"
        >
            <img
                [src]="comment.pictureUrl"
                alt=""
                aria-hidden="true"
                width="200"
                height="150"
            >
            {{ comment.pictureDate }}
        </a>
        <app-comment
            class="mt-auto ml-24"
            [comment]="comment"
            [user]="user"
            (deleteHandler)="onDelete(i)"
            (editHandler)="onEdit($event, i)"
        ></app-comment>
    </div>
</ng-container>
<app-popup [opened]="popup" (onClose)="switchPopup()">
    <ng-template #content>
        <h3>{{ 'Profile.SURE' | translate }}</h3>
    </ng-template>
    <ng-template #controls>
        <button
            class="btn"
            type="button"
            (click)="delProfile()"
        >
            {{ 'Profile.YES' | translate }}
        </button>
        <button
            class="btn"
            type="button"
            (click)="switchPopup()"
        >
            {{ 'Profile.NO' | translate }}
        </button>
    </ng-template>
</app-popup>
