<ng-container *ngFor="let item of picturesList; index as i">
    <button
        (click)="switchPicture(i)"
        [disabled]="currentPicture === i"
    >
        {{ item.date | date:'dd.MM' }}
    </button>
</ng-container>

<div style="display: flex; width: 100%">
    <figure *ngIf="picture" style="width: 50%">
        <a
            [href]="picture.hdurl"
            target="_blank"
        >
            <img
                [src]="picture.url"
                [alt]="picture.explanation"
                style="width: 100%"
            >
        </a
       >
        <figcaption>
            <p *ngIf="picture.copyright">
                Автор: {{ picture.copyright }}
            </p>
            <p *ngIf="picture.explanation">
                {{ picture.explanation }}
            </p>
        </figcaption>
    </figure>
    <app-comments-list style="width: 50%"></app-comments-list>
</div>

<div *ngIf="error">
    <p> Что-то пошло не так. </p>
    <button
        (click)="getPicturesList()"
    >
        Попробуйте ещё раз
    </button>
</div>

<p *ngIf="loading">Ожидайте...</p>
