<figure *ngIf="picture">
    <img
        [src]="picture.url"
        [alt]="picture.explanation"
    >
    <figcaption>
        <p *ngIf="picture.copyright">Автор: {{ picture.copyright }}</p>
        <p *ngIf="picture.explanation">
            {{ picture.explanation }}
        </p>
    </figcaption>
</figure>

<div *ngIf="error">
    <p> Что-то пошло не так. </p>
    <button
        (click)="getPicture()"
    >
        Попробуйте ещё раз
    </button>
</div>

<p *ngIf="loading">Ожидайте...</p>
