<div>
    <p
        class="comment__text"
        *ngIf="!canEdit"
    >
        {{ comment.text }}
    </p>
    <p
        class="comment__author"
        *ngIf="!canEdit"
    >
        {{ comment.author?.displayName }} {{comment.date | date:'dd/MM/yyyy hh:mm a z'}}
    </p>

    <form
        *ngIf="canEdit"
        [formGroup]="commentForm"
        class="comment__form"
    >
        <app-text-input
            formControlName="comment"
            type="text"
            [placeholder]="comment.text"
        ></app-text-input>

        <button
            class="btn"
            type="button"
            (click)="onEdit()"
            [disabled]="!commentForm.controls['comment'].value"
        >
            Save
        </button>
        <button
            class="btn"
            type="button"
            (click)="editSwitch()"
        >
            Cancel
        </button>
    </form>

    <ng-container *ngIf="replies">
        <p>Replies:</p>
        <ng-container *ngFor="let reply of replies">
            <div style="padding-left: 20px; padding-bottom: 4px;">
                <p>{{ reply.text }}</p>
                <p style="font-size: 12px;">{{ reply.author?.displayName }} {{reply.date | date:'dd/MM/yyyy hh:mm a z'}}</p>
            </div>
        </ng-container>
    </ng-container>
</div>
<div class="comment__controls">
    <ng-container *ngIf="user?.uid === comment.author?.uid && !canEdit">
        <button
            class="comment__btn"
            type="button"
            (click)="editSwitch()"
            title="Edit"
        >
            <svg
                class="icon icon--md"
                aria-hidden="true"
                app-shared-svg
                icon="pen"
            ></svg>
        </button>
        <button
            class="comment__btn"
            type="button"
            (click)="togglePopup()"
            title="Delete"
        >
            <svg
                class="icon icon--md"
                aria-hidden="true"
                app-shared-svg
                icon="trash"
            ></svg>
        </button>
    </ng-container>
    <button
        *ngIf="user && !canEdit"
        class="comment__btn"
        type="button"
        (click)="toggleReply()"
    >
        {{ replyFormVisible ? 'Cancel' : 'Reply' }}
    </button>
</div>
<form
    class="d-flex"
    *ngIf="replyFormVisible"
    [formGroup]="replyForm"
>
    <app-text-input
        formControlName="replyControl"
        type="text"
        placeholder="Reply"
    ></app-text-input>
    <button
        class="btn"
        type="button"
        (click)="sendReply()"
    >
        Send
    </button>
</form>

<app-popup
    [opened]="popupIsOpen"
    (onClose)="togglePopup()"
>
    <ng-template #content>
        <h2>Are you shure?</h2>
    </ng-template>
    <ng-template #controls>
        <button
            class="btn"
            type="button"
            (click)="onDelete()"
        >
            Yes
        </button>
        <button
            class="btn"
            type="button"
            (click)="togglePopup()"
        >
            No
        </button>
    </ng-template>
</app-popup>
